#  讀取【寶可夢】資料

In [1]:
import pandas as pd
data=pd.read_csv('pokemon.csv',encoding='big5')

data

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
0,1,妙蛙種子,草,毒,318,45,49,49,65,65,45
1,2,妙蛙草,草,毒,405,60,62,63,80,80,60
2,3,妙蛙花,草,毒,525,80,82,83,100,100,80
3,4,小火龍,火,NaN,309,39,52,43,60,50,65
4,5,火恐龍,火,NaN,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...
146,147,迷你龍,龍,NaN,300,41,64,45,50,50,50
147,148,哈克龍,龍,NaN,420,61,84,65,70,70,70
148,149,快龍,龍,飛行,600,91,134,95,100,100,80
149,150,超夢,超能力,NaN,680,106,110,90,154,90,130
150,151,夢幻,超能力,NaN,600,100,100,100,100,100,100

#  依屬性抽出隨機寶可夢

In [2]:
import random

def pick_pokemon(Type='火'):
    data_select=data[(data['Type 1']==Type)|(data['Type 2']==Type)].reset_index(drop=True)
    return random.choice(data_select['Name'])

pick_pokemon()

'卡蒂狗'

#  隨機抽出一隻高於指定【攻擊】和【防禦】的寶可夢

In [3]:
def pick_pokemon_AD(Attack,Defense):
    data_select=data[(data['Attack']>Attack)&(data['Defense']>Defense)].reset_index(drop=True)
    pokemon=random.choice(data_select['Name'])
    return data_select[data_select['Name']==pokemon]

pick_pokemon_AD(110,120)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp_Attack,Sp_Defense,Speed
0,76,隆隆岩,岩石,地面,495,80,120,130,55,65,45

#   一次抽多隻特定屬性寶可夢

In [4]:
def pick_pokemon_mult(*types):
    pokemon=[]
    for Type in types:
        data_select=data[(data['Type 1']==Type)|(data['Type 2']==Type)].reset_index(drop=True) 
        pokemon.append(random.choice(data_select['Name']))
    return pokemon

pick_pokemon_mult('火','水','草','龍','飛行')

['卡蒂狗', '蚊香蝌蚪', '口呆花', '快龍', '大嘴雀']

#  抽出一隻高於指定【數值】的寶可夢

In [5]:
def pick_pokemon_all(**chracteristics):
    data_select=data.copy()
    for key,value in chracteristics.items():
        data_select=data_select[data_select[key]>value].reset_index(drop=True)
    return random.choice(data_select['Name'])

pick_pokemon_all(HP=50,Attack=30,Sp_Defense=60)

'尼多王'